.clear{
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.solid{
    background-color: white;
    border: none;
}

.outline{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.error{
    background-color: red;
    color: white;
    display: none;
}

button:active{
    opacity: 0.8;
}

button:disabled{
    opacity: 0.7;
}

.loading{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    font-style: oblique;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loading label{
    font-size: 24px;
    color: white;
}

body{
    margin: 0;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field{
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    border-radius: 10px;
    width: -webkit-fill-available;
}