body{
    margin: 0;
    min-height: 100vh;
    background: #28c044;
}

header{
    text-align: right;
}
header button{
    width: auto;
}

.clear{
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.solid{
    background-color: white;
    border: none;
}

.outline{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.error{
    background-color: red;
    color: white;
    display: none;
}

button:active{
    opacity: 0.8;
}

button:disabled{
    opacity: 0.7;
}

button.fab{
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px gray;
}

.fab.fixed{
    position: fixed;
}

button.fab.bottom{
    bottom: 32px;
}

button.fab.right{
    right: 32px;
}

.loading{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    font-style: oblique;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loading label{
    font-size: 24px;
    color: white;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field{
    margin-bottom: 10px;
}

input, button, select {
    padding: 10px;
    border-radius: 10px;
    width: -webkit-fill-available;
}
input[type="radio"]{
    width: auto;
}