*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
    min-height: 100vh;
    background: #28c044;
}

input, button {
    padding: 10px;
    border-radius: 10px;
    width: -webkit-fill-available;
}

form{
    width: 300px;
}
button{
    cursor: pointer;
    margin-bottom: 10px;
    
}


.form-field{
    margin-bottom: 10px;
}



